body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    color: #2B2B2B;
}

.card {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
    border-radius: 20px;
    background: #a9d2ad;
    margin-top: 200px;
    padding: 50px 20px;
    gap: 20px;
}

.logo {
    width: 250px;
    margin-inline: auto;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
}

.title > p {
    margin: 0;
}

.title strong {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form > input {
    padding: 15px 10px;
    border-radius: 5px;
    border: 2px solid black;
}

form > button {
    padding-block: 15px;
    font-weight: bold;
    background-color: #4B4B4B;
    border: none;
    border-radius: 5px;
    color: white;
}

a {
    text-decoration: underline;
    color: inherit;
}

.footer-text {
    color: black;
}